.detail-container {
  display: flex;
}

.img-detail {
  margin-left: 20vw;
  width: 30%;
}

.img-detail img {
  width: 100%;
}

.detail-txt {
  align-self: center;
  display: flex;
  flex-direction: column;
  gap: 30px;
  justify-content: center;
}

.detail-txt h2 {
  width: 60%;
  text-align: center;
  font-family: "Roboto", sans-serif;
}

.detail-txt div {
  margin-left: 50px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.detail-txt div p {
  font-family: "Roboto", sans-serif;
  width: 60%;
}

.price {
  font-size: 30px;
}

button {
  width: 100px;
  height: 30px;
}

.container {
  display: flex;
  font-family: "Roboto", sans-serif;
}
.container-img {
  display: flex;
  justify-content: end;
  width: 50%;
}
.container-info {
  width: 60%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

h1 {
  text-align: center;
  margin-top: 5%;
}
.glass {
  width: 70%;
}
.precio {
  color: rgb(16, 184, 16);
  font-weight: 700;
  letter-spacing: 1px;
  margin: 20px 0;
  text-align: center;
  font-size: 18px;
}
.glass p:last-child {
  text-align: center;
}

.ul-pokemon {
  display: block;
  margin: 10px 0;
}
.btn-container {
  margin-top: 40px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}
.button-add {
  width: 200px;
  border: none;
  background-color: #1c1c1c;
  border-radius: 10px;
  color: white;
  font-family: "Roboto", sans-serif;
}

.button-add:hover {
  transition: 0.3s ease-in-out;
  box-shadow: 0.4px 0.6px 2.2px rgba(0, 0, 0, 0.028),
    1.1px 1.5px 5.4px rgba(0, 0, 0, 0.04), 2px 2.8px 10.1px rgba(0, 0, 0, 0.05),
    3.6px 4.9px 18.1px rgba(0, 0, 0, 0.06),
    6.7px 9.2px 33.8px rgba(0, 0, 0, 0.072), 16px 22px 81px rgba(0, 0, 0, 0.1);
}

.qty-container {
  display: flex;
  gap: 10px;
  align-items: center;
}
.qty-container p {
  font-size: 25px;
}
.button-qty {
  border: none;
  background-color: #1c1c1c;
  border-radius: 10px;
  color: white;
  font-family: "Roboto", sans-serif;
  width: 50px;
}
.tr-total {
  display: flex;
  justify-content: center;
}

.button-qty {
  width: 50px;
  border: none;
  background-color: #1c1c1c;
  border-radius: 10px;
  color: white;
  font-family: "Roboto", sans-serif;
}

.button-qty:hover {
  transition: 0.3s ease-in-out;
  box-shadow: 0.4px 0.6px 2.2px rgba(0, 0, 0, 0.028),
    1.1px 1.5px 5.4px rgba(0, 0, 0, 0.04), 2px 2.8px 10.1px rgba(0, 0, 0, 0.05),
    3.6px 4.9px 18.1px rgba(0, 0, 0, 0.06),
    6.7px 9.2px 33.8px rgba(0, 0, 0, 0.072), 16px 22px 81px rgba(0, 0, 0, 0.1);
}

.itd-qty {
  display: flex;
  justify-content: center;
  margin-top: 20px;
  align-items: center;
  gap: 10px;
}
.itd-qty {
  font-family: "Press Start 2P", cursive;
}